*,
*:after,
*:before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-color: #0F0028;
    color: aliceblue;
    overflow: hidden;
}

h1{
    font-size: 36px;
}

a{
    text-decoration: none;
    color: aliceblue;
}

a:hover{
    text-decoration:underline aliceblue;
}

input:focus {
    outline: none;
}

.wrap{
    display: flex;
    justify-content: space-between;
}

.imageForm{
    height: 100vh;
    width: 100%;
}

.theme{
    width: 100%;
    min-height: 120vh;
    object-fit: cover;
}

.error-message {
    color: red;
    padding: 10px 0;
    display: block;
}

.loginForm{
    width: 2/3;
    display: flex;
    flex-direction: column;
}

.smh{
    display: flex;
    justify-content: space-between;
}

.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.loginForm__container
{
    padding: 30px 50px 16px 200px;
}

.loginForm__header__inner nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    gap: 110px;
}

.content{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.registration{
    align-items: baseline;
}

.content__inner{
    padding-bottom: 100px;
}

.content__inner .registration-form{
    width: 400px;
}

.content__inner h1{
    margin-bottom: 50px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="submit"] {
    background-color: #E1E1FA;
    color:#0F0028;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

header {
    background-color: #0F0028;
    color: #fff;
    padding: 30px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a.button-logout {
    font-size: 33px;
    background-color: #dc3545;
    color: #fff;
    padding: 16px 48px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: 0px;
    margin-right: 0;
}

header a.button-logout:hover {
    background-color: #c82333;
}

nav {
    background-color: #0F0028;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #0F0028;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
